table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  border: 2px solid rgb(200, 200, 200);
  font-size: 1rem;
}

.plus {
  cursor: pointer;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
}

/* .time-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  border: 1px solid rgb(190, 190, 190);
} */

.heading {
  text-align: center;
}

.sunday {
  background: yellow;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.monday {
  background-color: yellowgreen;
}

.tuesday {
  background-color: aquamarine;
}

.wednesday {
  background-color: midnightblue;
}

.thursday {
  background-color: antiquewhite;
}

.friday {
  background-color: green;
}

.saturday {
  background-color: goldenrod;
}

/*++++++++++++++++TASK ELEMENTS+++++++++++++++++++++*/
.task-elements {
  border: 1px solid grey;
}