table{
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 1rem;
}

td, th {
  padding: 10px 20px;
  border: 1px solid rgb(190, 190, 190);
}

.time-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  border: 1px solid rgb(190, 190, 190);
}

.heading {
  text-align: center;
}

.sunday {
  background: yellow;
}
.monday {
  background-color: yellowgreen;
}
.tuesday {
  background-color: aquamarine;
}
.wednesday {
  background-color: midnightblue;
}
.thursday {
  background-color: antiquewhite;
}
.friday {
  background-color: green;
}
.saturday {
  background-color: goldenrod;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}