dialog {
  border: none;
  border-radius: 4px;
}

.form-title {
  text-align: center;
}

#popUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form-container {
  padding: 3%;
}

#form-data {
  display: flex;
  padding: 5%;
  flex-direction: column;
  gap: 5%;
}

input[type=text],
input[type=date],
input[type=time] {
  width: 80%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-btns {
  display: flex;
  gap: 3%;
}

#cancel,
#confirm {
  width: 50%;
  background-color: #4caf50;
  padding: 8px 15px;
  margin: 5px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 0.9rem;
}

.form-label {
  display: flex;
  gap: 3%;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}
